requires:
- category: "{{ .Values.category }}"
  name: "{{ .Values.name | replace "-portage" "" }}"
  version: ">=0"
package_dir: /{{ .Values.name }}
env:
- JOBS={{ ( index .Values.labels "jobs" ) | default "3" }}
- LUET_PORTAGE_PKGFILES=0
- LUET_PORTAGE_PKGMETA=1
steps:
# TODO: install luet to build layer
- curl https://get.mocaccino.org/luet/get_luet_root.sh | sudo sh
- luet install repository/mocaccino-extra-stable system/luet-extensions-live
- luet install dev-util/pkgs-checker-minimal utils/jq
- luet portage -- --dir /{{ .Values.name }} {{ ( index .Values.labels "emerge.packages" ) }}
